[project]
	description = Executable specifications for Java
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chrismathis
[access "refs/for/refs/*"]
	read = group user/chrismathis
	push = group user/chrismathis
	label-Code-Review = -2..+2 group user/chrismathis
	label-Verified = -1..+1 group user/chrismathis
	rebase = group user/chrismathis
	removeReviewer = group user/chrismathis
	submit = group user/chrismathis
[access "refs/heads/*"]
	read = group user/chrismathis
	create = group user/chrismathis
	push = +force group user/chrismathis
	pushMerge = group user/chrismathis
[access "refs/tags/*"]
	push = +force group user/chrismathis
	pushTag = group user/chrismathis
	pushSignedTag = group user/chrismathis
